
form {
	width: 500px;
	margin: auto;	
}
input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;	
	background-color: rgba(255,255,255,.6)
}
input:hover, textarea:hover {
	background-color: #dddddd;
}
legend {
	color: #888888;
	font-size: 13;
	font-weight: bold;
	font-family: sans-serif;
}
fieldset {
	border-color: #cecece;
	margin: 20px;
}
fieldset#usuario {
	background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}
fieldset#endereco {
	background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}
fieldset#mensagem {
	background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}